body {
    background-image: url(images/light_grey.png);
}

.container {
    background-color: white;
}

#contactform {
background-color: white;
}

.space {
    height: 10px;
}

h1 {
    text-align: center;
}

.sidebar {
    background-color: white;
    height: 560px;
}

img {   
    float:left;
    padding-right: 20px;
}


